Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.23
WSGIProxy2==0.4.1
WebOb==1.4
WebTest==2.0.15
Werkzeug==0.9.4
argparse==1.2.1
beautifulsoup4==4.3.2
configparser==3.3.0r2
gevent==1.0.1
greenlet==0.4.2
irc==8.9.1
itsdangerous==0.24
jaraco.util==10.0.2
konfig==0.9
loads==0.2
more-itertools==2.2
psutil==2.1.1
pymongo==2.7
pyzmq==14.3.0
requests==2.2.1
six==1.6.1
ujson==1.33
waitress==0.8.8
ws4py==0.3.4
wsgiref==0.1.2
